@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400;500&display=swap");
/*     font-family: 'Inknut Antiqua', serif;

    font-family: 'Plus Jakarta Sans', sans-serif; */
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* background: linear-gradient(white, whitesmoke); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 767px) {
  .hide-on-shrink {
    display: none;
  }
}
