@import url("https://fonts.googleapis.com/css2?family=Carme&family=Comfortaa:wght@300;400;500&family=Cormorant+Garamond:wght@300;400;600&display=swap");
/*        
    font-family: 'Carme', sans-serif;

    font-family: 'Comfortaa', cursive;

    font-family: 'Cormorant Garamond', serif;
    */
* {
  cursor: url(../public/jackie_site_cursor.png), auto;
}
.pointer:hover {
  cursor: url(../public/cursor_4_large.png), auto;
  /* cursor:  */
}
.defaultCursor {
  cursor: auto;
}

body {
  margin: 0;
  font-family: "Carme", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(../public/jackie_site_cursor.png), auto;
}
.headerNav {
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 48px;
}
.wall-txt {
  font-size: 18px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rightalign-nav-links {
  position: relative;
  right: 15px;
}
@media only screen and (max-width: 991px) {
  .rightalign-nav-links {
    position: relative;
    left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .hide-on-shrink {
    display: none;
  }
}
